/* TodoList.css */

.todo-list {
  margin: 2rem;
  max-width: 800px;
  margin: 2rem auto;
}

/* TodoItem.css */

.todo-item {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 6px;
}

.todo-item input[type="checkbox"] {
  margin-right: 1rem
